@media (max-width: 600px) {
    .index-form input{
        height: 35px;
        width: 237px;
    }
    .index-button-ir{
        height: 35px;
        width: 237px;
    }
    input[type='range']{
        width: 39.24px;
        height: 18.57px;
    }
}